{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>All Notes</title>

        <link rel="stylesheet" href=" {% static 'css/lab_4/index.css' %} " />
    </head>

    <body>
        <header>
            <a href="../lab-1/">PBP-LAB</a>
            <nav>
                <ul class="nav-links">
                    <div class="dropdown">
                        <div class="dropdown-content">
                            <li><a href="#">Lab 1</a></li>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class="dropdown-content">
                            <li><a href="#">Lab 2</a></li>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class="dropdown-content">
                            <li><a href="#">Lab 3</a></li>
                        </div>
                    </div>
                    <div class="dropdown">
                        <li><a href="#" class="btn">Lab 4</a></li>
                        <div class="dropdown-content">
                            <!-- <li><a href="">Add Notes</a></li> -->
                        </div>
                    </div>
                </ul>
            </nav>
        </header>

        <div class="center">
            <h1>List of All Notes</h1>
            {%for i in notes%}
            <div class="glass">
                <p>To: <span>{{i.to}}</span></p>
                <p>From: <span>{{i.from_whom}}</span></p>
                <p>Title: <span>{{i.title}}</span></p>
                <p>Message: <span>{{i.message}}</span></p>
            </div>
            {%endfor%}
        </div>
    </body>
</html>
