{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cards</title>
        <link rel="stylesheet" href=" {% static 'css/lab_4/card.css' %} " />
    </head>

    <body>
        <header>
            <a href="../lab-1">PBP-LAB</a>
            <nav>
                <ul class="nav-links">
                    <div class="dropdown">
                        <div class="dropdown-content">
                            <li><a href="#">Lab 1</a></li>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class="dropdown-content">
                            <li><a href="#">Lab 2</a></li>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class="dropdown-content">
                            <li><a href="#">Lab 3</a></li>
                        </div>
                    </div>
                    <div class="dropdown">
                        <li><a href="#" class="btn">Lab 4</a></li>
                        <div class="dropdown-content">
                            <!-- <li><a href="">Add Notes</a></li> -->
                        </div>
                    </div>
                </ul>
            </nav>
        </header>
        <div class="background-img">
            <div class="colorwhite">
                <img
                    src="{% static 'images/SuperToroid-Orange-Glossy.png' %}"
                    alt=""
                />
            </div>
            <div class="orange-ball">
                <img
                    src="{% static 'images/Color=Orange-Glossy-1.png' %}"
                    alt=""
                />
            </div>
            <div class="orange-prism">
                <img
                    src="{% static 'images/Color=Orange-Glossy-4.png' %}"
                    alt=""
                />
            </div>
        </div>

        <div class="card">
            <h1>List of All Cards</h1>
            <ul>
                {%for i in notes%}
                <li>
                    <a href="">
                        <p>To: {{i.to}}</p>
                        <p>From: {{i.from_whom}}</p>
                        <p>Title: {{i.title}}</p>
                        <p>Message: {{i.message}}</p>
                    </a>
                </li>
                {%endfor%}
            </ul>
        </div>
    </body>
</html>
