{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Notes</title>

        <link rel="stylesheet" href=" {% static 'css/lab_4/form.css' %} " />
        <!-- checkpoint -->
    </head>
    <body>
        <header>
            <a href="../">PBP-LAB</a>
            <nav>
                <ul class="nav-links">
                    <div class="dropdown">
                        <div class="dropdown-content">
                            <li><a href="#">Lab 1</a></li>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class="dropdown-content">
                            <li><a href="#">Lab 2</a></li>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class="dropdown-content">
                            <li><a href="#">Lab 3</a></li>
                        </div>
                    </div>
                    <div class="dropdown">
                        <li><a href="#" class="btn">Lab 4</a></li>
                        <div class="dropdown-content">
                            <!-- <li><a href="">Add Notes</a></li> -->
                        </div>
                    </div>
                    <div class="colorwhite">
                        <img
                            src="{% static 'images/colorwhite1.png' %}"
                            alt=""
                        />
                    </div>
                </ul>
            </nav>
        </header>
        <div class="center">
            <div class="glass">
                <h1>Send It!</h1>
                <form action="" method="POST">
                    <div class="txt-field">
                        <label for="to">To</label>
                        <span></span>
                        {{form.to}}
                    </div>
                    <div class="txt-field">
                        <label for="from">From</label>
                        <span></span>
                        {{form.from_whom}}
                    </div>
                    <div class="txt-field">
                        <label for="title">Title</label>
                        <span></span>
                        {{form.title}}
                    </div>
                    <div class="txt-field">
                        <label for="message">Message</label>
                        <span></span>
                        {{form.message}}
                    </div>
                    <div class="submit">
                        {% csrf_token %}
                        <input type="submit" class="button" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
