@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header a:hover {
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
    padding: 30px 10%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.3)
    );
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    height: 0px;
    background-color: black;
    position: fixed;
    min-width: 100vw;
    z-index: 2;
}

header a:hover {
    color: white;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block; /*biar kesamping ga kebawah*/
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: white;
}

li,
a {
    font-size: 16px;
}
h1 {
    text-align: center;
    color: white;
}
header a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: rgba(225, 225, 225, 1);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

body {
    background-color: #222326;
}

center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

li,
h1,
label,
input,
textarea,
p,
a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: rgba(225, 225, 225, 0.7);
    text-decoration: none;
}

li,
a {
    font-size: 16px;
}
header a {
    font-weight: 600;
    transition: all 0.3s ease 0s;
}
body {
    display: flexbox;
}

p {
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: rgba(225, 225, 225, 0.8);
}

span {
    font-weight: 400;
}

.card ul,
li {
    list-style: none;
}

.card ul {
    padding: 3em;
}

.card ul li a {
    display: block;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.1)
    );
    width: 20em;
    height: 15em;
    padding: 1em;
    backdrop-filter: blur(0.5rem);
    transition: transform 0.15s ease;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.card ul li {
    margin: 1em;
    float: left;
}

.card ul li a p {
    padding-bottom: 10px;
    font-size: 100%;
}

.card {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

/* .card li {
    transform: rotate(-6deg);
} */
.colorwhite img {
    position: absolute;
    max-height: 200px;
    top: 30vh;
    left: 20vw;
}

.orange-ball img {
    position: absolute;
    max-height: 200px;
    top: 30vh;
    right: 10vw;
}

.orange-prism img {
    position: absolute;
    max-height: 200px;
    top: 80vh;
    right: 40vw;
}
