@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 0px;
}

header a:hover {
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header {
    padding: 30px 10%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.3)
    );
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    height: 0px;
    background-color: black;
}

header a:hover {
    color: white;
}

.nav-links li {
    display: inline-block; /*biar kesamping ga kebawah*/
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: white;
}

li,
a {
    font-size: 16px;
}
header a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: rgba(225, 225, 225, 1);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

body {
    background-color: #222326;
}

center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

li,
h1,
label,
input,
textarea,
a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: rgba(225, 225, 225, 1);
    text-decoration: none;
}

li,
a {
    font-size: 16px;
}
header a {
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

.glass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    border: 2px solid rgba(225, 225, 225, 0.2);
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(0.5rem);
    padding: 20px 30px;
}

.glass h1 {
    text-align: center;
    font-weight: 600;
}

.glass form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt-field {
    position: relative;
    border-bottom: 2px solid silver;
    margin: 20px 0;
}

.txt-field input {
    width: 100%;
    padding: 0 5px;
    border: none;
    background: none;
    outline: none;
}

.txt-field textarea {
    width: 100%;
    height: 20px;
    padding: 0 5px;
    border: none;
    background: none;
    outline: none;
}

.txt-field label {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    transform: translateY(-20%);
    font-size: 16px;
    pointer-events: none;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(225, 225, 225, 0.2);
    border-radius: 25px;
    background-color: rgba(225, 225, 225, 0.7);
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover {
    background-color: green;
    transition: all 0.3s ease 0s;
}

.colorwhite img {
    position: absolute;
    max-height: 100px;
    top: 20vh;
    right: 30vw;
}
