@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 0px;
}

header a:hover {
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 30px 10%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.3)
    );
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    height: 0px;
    background-color: black;
    position: fixed;
    min-width: 100vw;
    z-index: 2;
}

header a:hover {
    color: white;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block; /*biar kesamping ga kebawah*/
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: white;
}

li,
a {
    font-size: 16px;
}
header a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: rgba(225, 225, 225, 1);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

li,
h1,
label,
input,
textarea,
a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: rgba(225, 225, 225, 1);
    text-decoration: none;
}

li,
a {
    font-size: 16px;
}
header a {
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

body {
    background-color: #222326;
    display: flexbox;
}

.center {
    display: block;
}

p {
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: rgba(225, 225, 225, 1);
}

span {
    font-weight: 400;
}
