@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.2)
    );
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(0.5rem);
    height: 0px;
}

body {
    background-color: #222326;
}

header a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgba(225, 225, 225, 1);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    padding: 0px 20px;
}

header a:hover {
    color: white;
    transition: all 0.3s ease 0s;
}

.nav-links {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/*navbar section*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.styled-table {
    position: absolute;
    margin-top: 20px;
    min-width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;

    border-collapse: collapse;
    font-size: 0.9em;
    font-family: "Poppins", sans-serif;
    min-width: 400px;
}
table {
    backdrop-filter: blur(0.5rem);
    border-radius: 20px;
}

.styled-table thead tr {
    background: rgba(255, 255, 255, 0.4);
    color: #ffffff;
    text-align: center;
}

.styled-table tbody tr {
    background: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    text-align: center;
}

tbody {
    height: 10px;
}

.button-room {
    display: flex;
    flex-direction: row;
}

button {
    margin: 0 5px;
    padding: 2px 10px;
    border-radius: 20px;
}

.orange-donut {
    position: absolute;
    min-height: 10px;
    top: 20vh;
    right: 30vw;
}
