{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
    </head>
    <header>
        <a href="../">Adham <span>Farid</span></a>
        <ul class="nav-links">
            <div class="dropdown">
                <li><a href="#">Friend</a></li>
                <div class="dropdown-content"></div>
            </div>

            <div class="dropdown">
                <li><a href="#">Note</a></li>
                <div class="dropdown-content"></div>
            </div>
        </ul>
    </header>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>
