{%extends 'base.html'%} {% block content %} {%load static%}
<div class="container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%for i in notes%}
            <tr>
                <td>{{i.to}}</td>
                <td>{{i.from_whom}}</td>
                <td>{{i.title}}</td>
                <td>{{i.message}}</td>
                <td>
                    <div class="button-room">
                        <button>View</button>
                        <button>Edit</button>
                        <button>Delete</button>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class="orange-donut">
        <img
            src="{%static '../images/SuperToroid-Orange-Glossy.png'%}"
            alt=""
        />
    </div>
</div>
{% endblock %}
