<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Form</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="form">
            <form action="" method="POST">
                <div class="input">
                    <label for="">Nama:{{form.name}}</label>
                </div>
                <div class="input">
                    <label for="">NPM:{{form.npm}}</label>
                </div>
                <div class="dob">
                    <label for="">DOB:{{form.DOB}}</label>
                </div>

                <div class="submit">
                    {% csrf_token %}
                    <input type="submit" value="Save" />
                </div>
                <!-- coba iseng tambahin value -->
            </form>
        </div>
    </body>
</html>
