<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lab 3</title>
    </head>
    <body>
        <h1>Your Friend List</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>NPM</th>
                <th>DOB</th>
            </tr>
            <!-- TODO loop from Friend model -->
            <!-- EXAMPLE SECTION -->
            {%for i in friends%}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.npm}}</td>
                <td>{{i.DOB}}</td>
            </tr>
            {%endfor%}
            <!-- END SECTION -->
        </table>
    </body>
</html>
