<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            span {
                font-weight: 100;
                font-size: 15px;
            }
            h2 {
                font-size: 15px;
            }
            .row {
                padding: 0.5em;
            }
        </style>
    </head>
    <body>
        <table>
            <!-- <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
            {%for i in notes%}
            <tr>
                <td>{{i.to}}</td>
                <td>{{i.from_whom}}</td>
                <td>{{i.title}}</td>
                <td>{{i.message}}</td>
            </tr>
            {%endfor%} -->
            {%for i in notes%}
            <div class="row">
                <h2>To: <span>{{i.to}}</span></h2>
                <h2>From: <span>{{i.from_whom}}</span></h2>
                <h2>Title: <span>{{i.title}}</span></h2>
                <h2>Message: <span>{{i.message}}</span></h2>
            </div>
            {%endfor%}
    </body>
</html>
